
.main {
  margin-top: 5em;
  padding: 0px 10px !important;
}

.center {
  justify-content: center;
  padding: 10px;
}

.item {
  padding: 15px 0px !important;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}



